{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": { "node": true },
  "plugins": [
    "@typescript-eslint", "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
    "@typescript-eslint/ban-ts-comment": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",
    "node/no-unsupported-features/es-builtins": ["error", { "version": ">=16.0.0", "ignores": [] }],
//    "node/no-unsupported-features/es-syntax": ["error", { "version": ">=16.0.0", "ignores": [] }],
    "node/no-unsupported-features/node-builtins": ["error", { "version": ">=16.0.0", "ignores": [] }]
  }
}
